---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/home/Carousel.astro";
import HomeCard from "../components/home/HomeCard.astro";
import MiddleSection from "../components/home/MiddleSection.astro";

import Image1 from "../assets/home/section/1.jpg";
import Image2 from "../assets/home/section/2.jpg";

const contentMap = {
  card1: {
    title: "COMERCIAL",
    text: "QUEREMOS QUE NUESTROS CLIENTES HABLEN POR NUESTRO TRABAJO",
    btnText: "VER PROYECTOS",
  },
  card2: {
    title: "RESIDENCIAL",
    text: "AMUEBLA TUS ESPACIOS CON LOS MEJORES DISEÑOS Y LOS MEJORES MATERIALES",
    btnText: "CONOCER MÁS",
  },
  middle: {
    title: "Nuestros Proyectos",
    text: "Puedes encontrar la mejor muebleria del mercado para tu proyecto residencial como para tu apartamento",
    subText: "Empecemos!",
  },
};
---

<Layout title="Home">
  <section><Carousel /></section>

  <section>
    <HomeCard
      imageCard={Image1}
      title={contentMap.card1.title}
      text={contentMap.card1.text}
      btnText={contentMap.card1.btnText}
    />
    <MiddleSection
      title={contentMap.middle.title}
      text={contentMap.middle.text}
      subText={contentMap.middle.subText}
    />
    <HomeCard
      imageCard={Image2}
      title={contentMap.card2.title}
      text={contentMap.card2.text}
      btnText={contentMap.card2.btnText}
    />
  </section>
</Layout>

<style>
  body {
    width: 100%;
    height: 100vh;
    display: block;
  }

  section {
    display: flex;
    height: 100vh;
  }
</style>
