---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

import Layout from "../layouts/Layout.astro";
import Carousel from "../components/home/Carousel.astro";
import HomeCard from "../components/home/HomeCard.astro";
import MiddleSection from "../components/home/MiddleSection.astro";

import Image1 from "/public/home/section/1.avif";
import Image2 from "/public/home/section/2.avif";

const contentMap = {
  card1: {
    title: "COMERCIAL",
    text: "QUEREMOS QUE NUESTROS CLIENTES HABLEN POR NUESTRO TRABAJO",
    btnText: "VER PROYECTOS",
  },
  card2: {
    title: "RESIDENCIAL",
    text: "AMUEBLA TUS ESPACIOS CON LOS MEJORES DISEÑOS Y LOS MEJORES MATERIALES",
    btnText: "CONOCER MÁS",
  },
  middle: {
    title: "Nuestros Proyectos",
    text: "Puedes encontrar la mejor muebleria del mercado para tu proyecto residencial como para tu apartamento",
    subText: "Empecemos!",
  },
};
---

<Layout title="Home">
  <div id="animation-desk-container">
    <LottieAnimation src="/animations/enter-animation.json" id="animation-desk" loop={false} player="light"/>
  </div>

  <div id="animation-mobile-container">
    <LottieAnimation src="/animations/enter-animation-mobile.json" id="animation-mobile" loop={false} player="light"/>
  </div>

  <section><Carousel /></section>

  <section class="second-section">
    <HomeCard
      imageCard={Image1.src}
      title={contentMap.card1.title}
      text={contentMap.card1.text}
      btnText={contentMap.card1.btnText}
    />
    <MiddleSection
      title={contentMap.middle.title}
      text={contentMap.middle.text}
      subText={contentMap.middle.subText}
    />
    <HomeCard
      imageCard={Image2.src}
      title={contentMap.card2.title}
      text={contentMap.card2.text}
      btnText={contentMap.card2.btnText}
    />
  </section>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const animationDesk = document.getElementById("animation-desk-container");
    if(animationDesk !== null) {
      setTimeout(() => {
        animationDesk.style.opacity = "0";
        animationDesk.style.transition = "opacity 1s ease-out";
      }, 3500);
      setTimeout(() => {
        animationDesk.style.display = "none";
      }, 4500);
    }

    if (window.innerWidth <= 850) {
      if(animationDesk !== null) {
        animationDesk.style.display = "none";
      }
      const animationMobile = document.getElementById("animation-mobile-container");
      if(animationMobile !== null) {
        animationMobile.style.display = "block";

        setTimeout(() => {
          animationMobile.style.opacity = "0";
          animationMobile.style.transition = "opacity 1s ease-out";
        }, 1800);
        setTimeout(() => {
          animationMobile.style.display = "none";
        }, 2300);
        }
    }
  })
</script>

<style>
  body {
    width: 100%;
    height: 100vh;
    display: block;
  }

  #animation-desk-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80vh;
    z-index: 9999;
  }

  #animation-mobile-container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80vh;
    z-index: 9999;
  }

  section {
    display: flex;
    height: 100vh;
  }

  @media screen and (max-width: 850px) {
    #intro-video {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 100vh;
      z-index: 9999;
    }
    .second-section {
      display: flex;
      flex-wrap: wrap;
    }
  }
</style>